.elementor-74
  .elementor-element.elementor-element-bb7bf1d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-74
  .elementor-element.elementor-element-bb7bf1d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-uicore_dark);
}
.elementor-74 .elementor-element.elementor-element-bb7bf1d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0px 50px 0px;
}
.elementor-74
  .elementor-element.elementor-element-bb7bf1d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-74
  .elementor-element.elementor-element-01ad683
  > .elementor-element-populated {
  margin: 0px 100px 0px 0px;
  --e-column-margin-right: 100px;
  --e-column-margin-left: 0px;
}
.elementor-74 .elementor-element.elementor-element-c28a70f {
  text-align: left;
}
.elementor-74 .elementor-element.elementor-element-c28a70f img {
  width: 130px;
}
.elementor-74 .elementor-element.elementor-element-5f30ab3 {
  color: #ffffff;
}
.elementor-74
  .elementor-element.elementor-element-f3d4d4a
  .elementor-heading-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.elementor-74
  .elementor-element.elementor-element-c3d20b9
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(15px / 2);
}
.elementor-74
  .elementor-element.elementor-element-c3d20b9
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(15px / 2);
}
.elementor-74
  .elementor-element.elementor-element-c3d20b9
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(15px / 2);
  margin-left: calc(15px / 2);
}
.elementor-74
  .elementor-element.elementor-element-c3d20b9
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-15px / 2);
  margin-left: calc(-15px / 2);
}
body.rtl
  .elementor-74
  .elementor-element.elementor-element-c3d20b9
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-15px / 2);
}
body:not(.rtl)
  .elementor-74
  .elementor-element.elementor-element-c3d20b9
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-15px / 2);
}
.elementor-74
  .elementor-element.elementor-element-c3d20b9
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-74
  .elementor-element.elementor-element-c3d20b9
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-74 .elementor-element.elementor-element-c3d20b9 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-74
  .elementor-element.elementor-element-c3d20b9
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-74
  .elementor-element.elementor-element-c3d20b9
  .elementor-icon-list-item
  > a {
  line-height: 22px;
}
.elementor-74
  .elementor-element.elementor-element-c3d20b9
  .elementor-icon-list-text {
  color: #9f9f9f;
  transition: color 0.3s;
}
.elementor-74
  .elementor-element.elementor-element-c3d20b9
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-uicore_primary);
}
.elementor-74
  .elementor-element.elementor-element-5321937
  .elementor-heading-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.elementor-74
  .elementor-element.elementor-element-e8b4052
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(15px / 2);
}
.elementor-74
  .elementor-element.elementor-element-e8b4052
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(15px / 2);
}
.elementor-74
  .elementor-element.elementor-element-e8b4052
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(15px / 2);
  margin-left: calc(15px / 2);
}
.elementor-74
  .elementor-element.elementor-element-e8b4052
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-15px / 2);
  margin-left: calc(-15px / 2);
}
body.rtl
  .elementor-74
  .elementor-element.elementor-element-e8b4052
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-15px / 2);
}
body:not(.rtl)
  .elementor-74
  .elementor-element.elementor-element-e8b4052
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-15px / 2);
}
.elementor-74
  .elementor-element.elementor-element-e8b4052
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-74
  .elementor-element.elementor-element-e8b4052
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-74 .elementor-element.elementor-element-e8b4052 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-74
  .elementor-element.elementor-element-e8b4052
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-74
  .elementor-element.elementor-element-e8b4052
  .elementor-icon-list-item
  > a {
  line-height: 22px;
}
.elementor-74
  .elementor-element.elementor-element-e8b4052
  .elementor-icon-list-text {
  color: #9f9f9f;
  transition: color 0.3s;
}
.elementor-74
  .elementor-element.elementor-element-e8b4052
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-uicore_primary);
}
.elementor-74
  .elementor-element.elementor-element-9174e3d
  .elementor-heading-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.elementor-74
  .elementor-element.elementor-element-9040032
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(15px / 2);
}
.elementor-74
  .elementor-element.elementor-element-9040032
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(15px / 2);
}
.elementor-74
  .elementor-element.elementor-element-9040032
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(15px / 2);
  margin-left: calc(15px / 2);
}
.elementor-74
  .elementor-element.elementor-element-9040032
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-15px / 2);
  margin-left: calc(-15px / 2);
}
body.rtl
  .elementor-74
  .elementor-element.elementor-element-9040032
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-15px / 2);
}
body:not(.rtl)
  .elementor-74
  .elementor-element.elementor-element-9040032
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-15px / 2);
}
.elementor-74
  .elementor-element.elementor-element-9040032
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-74
  .elementor-element.elementor-element-9040032
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-74 .elementor-element.elementor-element-9040032 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-74
  .elementor-element.elementor-element-9040032
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-74
  .elementor-element.elementor-element-9040032
  .elementor-icon-list-item
  > a {
  line-height: 22px;
}
.elementor-74
  .elementor-element.elementor-element-9040032
  .elementor-icon-list-text {
  color: #9f9f9f;
  transition: color 0.3s;
}
.elementor-74
  .elementor-element.elementor-element-9040032
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-uicore_primary);
}
.elementor-74
  .elementor-element.elementor-element-602f2cc
  .elementor-heading-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.elementor-74
  .elementor-element.elementor-element-70085f0
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(15px / 2);
}
.elementor-74
  .elementor-element.elementor-element-70085f0
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(15px / 2);
}
.elementor-74
  .elementor-element.elementor-element-70085f0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(15px / 2);
  margin-left: calc(15px / 2);
}
.elementor-74
  .elementor-element.elementor-element-70085f0
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-15px / 2);
  margin-left: calc(-15px / 2);
}
body.rtl
  .elementor-74
  .elementor-element.elementor-element-70085f0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-15px / 2);
}
body:not(.rtl)
  .elementor-74
  .elementor-element.elementor-element-70085f0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-15px / 2);
}
.elementor-74
  .elementor-element.elementor-element-70085f0
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-74
  .elementor-element.elementor-element-70085f0
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-74 .elementor-element.elementor-element-70085f0 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-74
  .elementor-element.elementor-element-70085f0
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-74
  .elementor-element.elementor-element-70085f0
  .elementor-icon-list-item
  > a {
  line-height: 22px;
}
.elementor-74
  .elementor-element.elementor-element-70085f0
  .elementor-icon-list-text {
  color: #9f9f9f;
  transition: color 0.3s;
}
.elementor-74
  .elementor-element.elementor-element-70085f0
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-uicore_primary);
}
.elementor-74
  .elementor-element.elementor-element-f1d658e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-74
  .elementor-element.elementor-element-f1d658e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-uicore_dark);
}
.elementor-74 .elementor-element.elementor-element-f1d658e {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #9f9f9f36;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}
.elementor-74
  .elementor-element.elementor-element-f1d658e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-74 .elementor-element.elementor-element-9034635 {
  text-align: center;
  color: #ffffff;
}
.elementor-widget .tippy-tooltip .tippy-content {
  text-align: center;
}
@media (max-width: 1024px) {
  .elementor-74 .elementor-element.elementor-element-bb7bf1d {
    padding: 60px 0px 40px 0px;
  }
  .elementor-74
    .elementor-element.elementor-element-01ad683
    > .elementor-element-populated {
    margin: 0px 10px 0px 0px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 0px;
  }
  .elementor-74 .elementor-element.elementor-element-c28a70f img {
    width: 100px;
  }
  .elementor-74
    .elementor-element.elementor-element-f3d4d4a
    .elementor-heading-title {
    font-size: 17px;
  }
  .elementor-74
    .elementor-element.elementor-element-5321937
    .elementor-heading-title {
    font-size: 17px;
  }
  .elementor-74
    .elementor-element.elementor-element-9174e3d
    .elementor-heading-title {
    font-size: 17px;
  }
  .elementor-74
    .elementor-element.elementor-element-602f2cc
    .elementor-heading-title {
    font-size: 17px;
  }
  .elementor-74 .elementor-element.elementor-element-f1d658e {
    padding: 20px 0px 20px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-74 .elementor-element.elementor-element-bb7bf1d {
    padding: 50px 0px 30px 0px;
  }
  .elementor-74 .elementor-element.elementor-element-01ad683 {
    width: 100%;
  }
  .elementor-74
    .elementor-element.elementor-element-01ad683
    > .elementor-element-populated {
    margin: 0px 50px 30px 0px;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0px;
  }
  .elementor-74 .elementor-element.elementor-element-c28a70f img {
    width: 125px;
  }
  .elementor-74 .elementor-element.elementor-element-ff9466c {
    width: 100%;
  }
  .elementor-74
    .elementor-element.elementor-element-ff9466c
    > .elementor-element-populated {
    margin: 0px 50px 30px 0px;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0px;
  }
  .elementor-74
    .elementor-element.elementor-element-f3d4d4a
    .elementor-heading-title {
    font-size: 16px;
  }
  .elementor-74 .elementor-element.elementor-element-2d87b23 {
    width: 100%;
  }
  .elementor-74
    .elementor-element.elementor-element-2d87b23
    > .elementor-element-populated {
    margin: 0px 50px 30px 0px;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0px;
  }
  .elementor-74
    .elementor-element.elementor-element-5321937
    .elementor-heading-title {
    font-size: 16px;
  }
  .elementor-74 .elementor-element.elementor-element-907e245 {
    width: 100%;
  }
  .elementor-74
    .elementor-element.elementor-element-907e245
    > .elementor-element-populated {
    margin: 0px 50px 30px 0px;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0px;
  }
  .elementor-74
    .elementor-element.elementor-element-9174e3d
    .elementor-heading-title {
    font-size: 16px;
  }
  .elementor-74 .elementor-element.elementor-element-929cc92 {
    width: 100%;
  }
  .elementor-74
    .elementor-element.elementor-element-929cc92
    > .elementor-element-populated {
    margin: 0px 50px 0px 0px;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0px;
  }
  .elementor-74
    .elementor-element.elementor-element-602f2cc
    .elementor-heading-title {
    font-size: 16px;
  }
  .elementor-74 .elementor-element.elementor-element-f1d658e {
    padding: 20px 0px 20px 0px;
  }
  .elementor-74 .elementor-element.elementor-element-9034635 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .elementor-74 .elementor-element.elementor-element-01ad683 {
    width: 32%;
  }
  .elementor-74 .elementor-element.elementor-element-ff9466c {
    width: 17%;
  }
  .elementor-74 .elementor-element.elementor-element-2d87b23 {
    width: 17%;
  }
  .elementor-74 .elementor-element.elementor-element-907e245 {
    width: 17%;
  }
  .elementor-74 .elementor-element.elementor-element-929cc92 {
    width: 17%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-74 .elementor-element.elementor-element-01ad683 {
    width: 24%;
  }
  .elementor-74 .elementor-element.elementor-element-ff9466c {
    width: 19%;
  }
  .elementor-74 .elementor-element.elementor-element-2d87b23 {
    width: 19%;
  }
  .elementor-74 .elementor-element.elementor-element-907e245 {
    width: 19%;
  }
  .elementor-74 .elementor-element.elementor-element-929cc92 {
    width: 19%;
  }
}
